<div class="comments">
{{!-- this to refer to the parent object or array that's available in the context of the partial --}}
{{!-- can be accessed directly  (e.g., vote_count instead of this.vote_count). --}}
    {{#each this}}
    <section class="comment">
        <div class="meta">
            {{user.username}} on {{format_date created_at}}
        </div>
        <div class="text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>
